<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#messages">
                <i class="ti-comment-alt menu-icon"></i>
                <span class="menu-title">Messages</span>
                 <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="messages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/SendMessage">New Message</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/Inbox">Inbox</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/Outbox">Outbox</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Announcements</span>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>