@model Core_Project.Models.PortfolioViewModel
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NAdminLayout.cshtml";
}


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Project Form</h4>
               
                <form method="post" action="@Url.Action("EditPortfolio", "Portfolio")" enctype="multipart/form-data">
                    <input type="hidden" asp-for="PortfolioID"/>
                    <input type="hidden" asp-for="ImageUrl" value="init" />
                    <input type="hidden" asp-for="PlatformUrl" value="init" />
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="Name" placeholder="Project Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="ProjectURL" placeholder="Project URL">
                            <span asp-validation-for="ProjectURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="Completion" class="form-control" name="Completion" placeholder="Completion">
                            <span asp-validation-for="Completion" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="file" name="ProjectImage" asp-for="ProjectImage" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" value="@Model.ImageUrl" disabled placeholder="Upload Sample Image of Project">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                            <span asp-validation-for="ProjectImage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="file" name="PlatformImage" asp-for="PlatformImage" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" value="@Model.PlatformUrl" disabled placeholder="Upload Platform Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                            <span asp-validation-for="PlatformImage" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                        <a href="/Portfolio/Index/" class="btn btn-dark">Cancel</a>

                    </div>
                </form>
            </div>
        </div>
    </div>