@using Core_Project.Areas.Writer.Models
@model IEnumerable<WriterMessageImageUrl>

<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Messages</h4>
               <a style="text-decoration: none; color: inherit;" href="/AdminMessage/AdminInbox/" ><p  class="text-muted mb-1 small">View all</p></a>
            </div>
            @foreach (var item in Model)
            {

                <div class="preview-list">
                    <a class="dropdown-item" style="text-decoration: none; color: inherit;" href="/AdminMessage/AdminMessageDetails/@item.Id">
                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                            <img src="~/images/userimage/@item.ImageUrl" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Name</h6>
                                    <p class="text-muted text-small">@(((DateTime)item.Date).ToString("MM-dd-yyyy"))</p>
                                </div>
                                <p class="text-muted">
                                    @if (item.Content.Length > 30)
                                    {@item.Content.Substring(0, 30);
                                }
                                else
                                { @item.Content}
                                </p>
                            </div>
                        </div>
                    </div>
                        </a>
                </div>
            }
        </div>
    </div>
</div>
