<div class="profile-pic">
    <div class="count-indicator">
        <img class="img-xs rounded-circle " src="/images/userImage/@ViewBag.ImageUrl" alt="">
        <span class="count bg-success"></span>
    </div>
    <div class="profile-name">
        <h5 class="mb-0 font-weight-normal">@ViewBag.AdminName</h5>
        <span>Admin</span>
    </div>
</div>