@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NAdminLayout.cshtml";
}

@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Experience Form</h4>

                <form class="forms-sample">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" name="Company">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control" name="Date">
                    </div>

                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" class="form-control" name="ImageURL">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="Description" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a href="/Experience/Index/" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
}

